$mobile: 490px;
$small: 760px;
$medium: 900px;
$large: 1200px;


@media screen and (min-width: $small) {
    .popup_text {
        .btn_com {padding: 15px 28px; 
        margin:  5px 10px;
            
    }
    }

 
    
}
////////////****************//////////////////

 @media screen and (min-width: $medium) {

    .mail_wrap {
        min-height: calc(100% - 231px);
    }
    .mail_grip_wrap {       
         display: flex; gap: 15px; justify-content: space-between; 
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        .uk-card { height: 100%;}

    // .col_maii_left {        width: 25%;  height: 100%;   }
    // // .col_maii_middle{        width: 50%;    }
    // // .col_maii_right {        width: 30%;    }
 
    }



  }


  //some CSS
  @media screen and (max-width: $small) {
    header{
        .header_nav {
            padding-top: 8px;
        }
    }
    .main_sml_box 
    {
       
        .sort_text{
            .inb_date {
                position: inherit;
                float: left;
                margin-right: 11px;
                width: 100%;
            }
            .sm_text {
                margin-right: 0;
            }
            
        }
    }



    .col_maii_middle {
          flex-flow: column;  
          .col_maiil_left,.col_maii_right {
              width: 100%;
          }
    }
    .col_maii_left {
        width: 15%;
        .side_anglebnt {
            padding: 0;
            .tog_btn {
                opacity: 0;
            }
        }
        .nav_text{ display: none;}
        .compose_mail {
            a {
                span {
                    display: none;
                }
            }
        }
    }

    
    .mail_grip_wrap{
        .col_right_ca {   width: 85%;}
    }
    
    .btn_com{
        border-radius: 5px;
        padding: 9px 16px;
        display: inline-block;
        font-size: 12px;
    }


    .wrap_home_hero_login_block{
        

        .home_hero_login_block {
            margin: 0 auto;
            left: 1px;
            right: 1px;
            .btn_com,.uk-input{
                height: 45px !important;
            }  

            .uk-inline {height: 45px;}
            .eye_password{top: 9px !important;  right: 12px !important;}
        }

    }
    



  }
  
  @media screen and (max-width: $medium) {
    .col_maii_middle {
        .col_maii_right {
            padding-right: 0;
        }
    }
    .mail_wrap {
        min-height: calc(100%  );
    }
    .mail_grip_wrap { height: 100%;}

    .ad_profile {
        .inner {
            padding: 0px;}
     
    }
    .bottom_grid { display: block; 
        .col_p:nth-child(1),.col_p:nth-child(2){ width: 100%;}
       }

    .dash_tile {
        grid-template-columns: repeat(2, 1fr);

    }
    .dropdown-content { margin-top: 0px;}
    .inner_page {        height: auto;    }
    .wrap_home_hero_login_block{

        .home_hero_login_block {
            width: 600px;
            margin: 0 auto;
            padding: 1.5rem;
            transition: width .35s ease-in-out;
            left: 1px;
            right: 1px;

            &.otp_box {
                width:100% !important;
                .otp_input_div{
                    input {
                        margin:0 2px;}
                }


                p { display: block;}
                h3 {    font-size: 16px;}
            }
        }

    }
// nav
.topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    
  }
  .topnav {
    a {
       &.icon{
           float: right;
           display: block !important;
         }
    }
     }

.topnav.responsive {
    position: relative;
    .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    a {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown {
        float: none;
        .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
    .dropdown-content {
        position: relative;
    }
}











  }


  @media screen and (min-width: $large) {
    //do Smth
  }
  @media screen and (max-width: $large) {


    .col_maii_middle {
        flex-flow:column;
        .col_maiil_left,.col_maii_right {
            width: 100%;
        }
    }

    .main_nav {
        .topnav {
            a {
                font-size: 13px;
                padding: 14px 10px;

            }
        }
    }

  }




 
  @media screen and (max-width: $mobile) {

  



    .ad_profile {
            .footer {
                flex-direction: column;
                
            } 
    }
    .dash_tile {        grid-template-columns: repeat(1, 1fr);    }
    
    header{
        height: 4rem;
        .dp_name{
            font-size: 12px;
        }
    }

    .wrap_home_hero_login_block{
      
    .home_hero_login_block {
        width: 300px;
        
        .uk-input, .btn_com  {    font-size: 12px; }
        h2 {
            font-size: 16px !important;
            margin-bottom: 20px;
        }
        p { display: none;}
        a { display: block;}
    }
}
.wrap_pop{
    .popup_text {
        padding: 10px 0;
        h2 {   
            font-size: 16px;}
            .btn_com { display: block; margin-bottom: 5px;     width: 100%;     padding: 15px 0;}
    }
}


.tab_wraper {
    .uk-tab {
        li {
            a {font-size: .8rem;}
        }
    }
    
}

}

